<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:src="@{/static/js/jquery.min.js}"></script>
    <script th:src="@{/static/css/style.css}"></script>
    <script th:src="@{/static/js/jquery1.min.js}"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/js/bootstrap1.min.js}"></script>
    <script th:src="@{/static/js/responsiveslides.min.js}"></script>
    <link rel="stylesheet" th:src="@{/static/css/bootstrap.min.css}">

</head>
<body>
test
    <h1 th:text="${hello}">hello</h1>
    <a th:href="@{/index1}">index1</a>
</body>
</html>